[submodule "SGE/vendor/imgui/imgui"]
	path = SGE/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "SGE/vendor/Assimp"]
	path = SGE/vendor/Assimp
	url = https://github.com/assimp/assimp.git
[submodule "SGE/vendor/box2d"]
	path = SGE/vendor/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "SGE/vendor/yaml-cpp"]
	path = SGE/vendor/yaml-cpp
	url = https://github.com/tic-tacs/yaml-cpp.git
